.container .table tbody span:hover {
    color: red;
    cursor: pointer;
}

.container .toggle button {
    margin: 0 0.3rem;
    width: 15%;
    height: 2.5rem;
}

.react-pdf__Page__canvas {
    margin: auto !important;
}

.btn {
    padding: 0;
    margin-right: 5px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 576px) {
    .container .toggle button {
        width: 8%;
    }
}

@media only screen and (min-width: 1280px) {
    .container .toggle button {
        width: 5%;

    }
}