.drop-area {
  border: 2px dashed #ccc;
  border-radius: 1rem;
  width: auto;
  height: 8rem;
  margin: 10px auto;
  text-align: center;
  position: relative;
}

.drop-area .input-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-area .input-content .uploadContent {
  z-index: 100;
}

.drop-area .input-content .button {
  width: 50%;
}

.drop-area p {
  line-height: 100%;
  margin: 0;
  z-index: 1;
}

#fileInput {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 50;
}