.span {
    font-size: 0.7rem;
    margin-right: 0.3rem;
    line-height: 2rem;
}

.logout {
    cursor: pointer;
}

.logout:hover {
    color: red;
}

@media only screen and (min-width: 320px) {
    .logo {
        width: 25%;
    }
    
    
}

@media only screen and (min-width: 576px) {
    .logo {
        width: 15%;
    }

    .span{
        font-size: 1rem;
    }
}