.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9997;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.activePopup-overlay {
  display: block;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  width: 40vw;
  height: 80%;
  overflow-y: auto !important;
  background: #f5f5f5;
  z-index: 9998;
  opacity: 0;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}



.activePopup {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}