.content {
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (min-width: 320px) {
    .content {
        padding: 1.5rem;
        margin-top: 1rem;
    }

    .svg {
        height: 1.5rem;
        width: 1.5rem;
    }

}

@media only screen and (min-width:576px) {
    .content {
        width: calc(100% - 150px);
        margin-top: 1.5rem;
    }

    .svg {
        height: 2.3rem;
        width: 2.3rem;
    }
}

@media only screen and (min-width:992px) {
    .content {
        margin-left: 2rem;
        height: 60%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .bg-left {
        background-image: url("https://stghrms.paxanimi.ai/static/Intranet_01.5742537d.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 100vh;
    }
}