.margin {
    margin-right: 5px;
    margin-left: 5px;
}

@media only screen and (min-width:320px) {
    .svg {
        width: 1.2rem;
        height: 1.2rem;
    }
}

@media only screen and (min-width:576px) {
    .svg {
        width: 2rem;
        height: 2rem;
    }
}