.set-card {
  height: 200px;
  padding-bottom: 15px;
  padding-top: 15px;
}
#itemGrid .eyeHover svg:hover {
  color: grey;
}
h5.overlowText {
  white-space: nowrap;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
}
